.navbar {
    border-radius: 0;
}
.navbar-inverse {
    background-color: green;
    border-color: green;
}
#logo {
    width: 145px;
    margin-top: -10px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: yellow;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    background-color: rgba(0, 128, 0, 0.749);
}